    body {
        background: rgb(78, 0, 113);
        background: linear-gradient(90deg, rgba(78, 0, 113, 1) 0%, rgba(0, 127, 153, 1) 100%);
        font-family: "Arial", sans-serif;
        padding: 50px;
               transition: transform 300ms linear;
    }

    .container {
        margin: 30px auto;
        padding: 10px;
        width: 330px;
        height: 400px;
        background-color: #fff;
        border-radius: 5px;
    }

    form {
        /*padding: 15px;*/
        text-align: center;
    }

    input {
        padding: 12px 0;
        margin-bottom: 10px;
        border-radius: 3px;
        border: 2px solid transparent;
        text-align: center;
        width: 90%;
        font-size: 16px;
        transition: border .2s, background-color .2s;
    }

    form .field {
        background-color: #e1e2e2;
    }

    form .field:focus {
        border: 2px solid #3498DB;
    }

    form .btn {
        background-color: #3498DB;
        color: #fff;
        line-height: 25px;
        cursor: pointer;
    }

    form .btn:hover,
    form .btn:active {
        background-color: #1F78B4;
        border: 2px solid #1F78B4;
    }

    .pass-link {
        text-align: center;
    }

    .pass-link a:link,
    .pass-link a:visited {
        font-size: 12px;
        color: #777;
    }

    .error{
        height:20px;
        margin-top: -18px;
        margin-bottom: -8px;
        color: red;
        animation: 3s linear .1s colorIt;
        transition: transform 300ms linear;
        font-size:  15px
    }